#one{
	color: white;
    font-size: 60px;

}

#two{
	background-color:black;
	length:50%;
}
#adv{
	margin-left: -50%;
}
#demo{

}
#gate{
	color:white;
	text-decoration: none;
}
#img2{
	margin-left: 40%;
	margin-top: -300px;
}
#img1{
	margin-top: -300px;
}
#head2{
	color: white;
	font-size: 50px;
	text-decoration: none;
}